.App {
  max-width: 1400px; /* increase the max-width */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #1b2838;
  color: #fff;
}


input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.cardbody {
  width: 1400PX;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px; /* add negative margin to remove the extra space between cards */
}

.card {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.gamesbannerimage {
  height: 200px;
  object-fit: cover;
}

.card-text {
  margin: 10px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #191a1c;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h1 {
  color: #cdd2d2;
  font-weight: 400;
  margin-bottom: 30px;
}

.error {
  color: #ff0000;
  margin-bottom: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  color: #cdd2d2;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}





/* .gamesbannerimage {
  width: 50%;
  height: 50%;
  margin: 0 auto;

} */

/* .cardbody {
  width: 50%;
} */
